<%-include("../partials/user/header.ejs") -%>
<!-- breadcrumb -->
<section>
    <div class="container m-b-50">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-60 p-lr-0-lg"style="position:relative;top:45px">
            <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
                Home
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>
            <a href="/shopingCart" class="stext-109 cl8 hov-cl1 trans-04">
                Cart
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>
            <span  class="stext-109 cl8 hov-cl1 trans-04">
                checkout                
            </span>

            
        </div>
    </div>
</section>
    <div class="container py-4">
        
        <div class="row g-4">
            <!-- Left Column -->
            <div class="col-lg-8">
                <form class="shadow border border-light p-1 col-lg-8 mb-4">
                    <div class="d-flex justify-content-between align-items-center my-1 ">
                        <h5 class="mb-1 "> Delivery Address </h5>
                        <a href="/addAddressCheckOut" class="btn btn-outline-secondary mb-1 ">+ Add New Address</a>
                    </div>             
                             
                    <!-- Default Address -->
                    <%addressData.address.forEach((data,index)=>{%>
                        <div class="card mb-1 pl-5">
                            <!-- <div class="card-body"> -->
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="address" id="address<%= index %>" value="<%= data._id %>" <%= index === 0 ? 'checked' : ''%>>
                                    <label class="form-check-label" for="address1">
                                        <strong><%=data.name%></strong>
                                        <p class="mb-1"><%=data.address%> <%=data.city%>, <%=data.landmark%> <%=data.state%> <%=data.pincode%></p>                                        
                                        <div class="d-flex justify-content-between align-items-center">  
                                            <p class="mb-2"><%=data.phone%></p>
                                            <div>
                                                <a class="text-primary me-2" href="/editAddress?id=<%=data._id%>">Edit</a>
                                                <a class="text-secondary me-2" href="/deleteAddress?id=<%=data._id%>" onclick="return confirm('Are you sure to delete?')">Remove</a>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            <!-- </div> -->
                        </div>
                    <%})%>
                </form>
                    <form class="card mb-1 col-lg-8 shadow border border-light p-2">
                        <h5>Payment Method</h5>                        
                        <div class="form-group mt-3">
                            <div class="d-flex align-items-center mb-2 pl-5">
                                <input type="radio" name="paymentMethod" value="cod" class="me-2" checked> Cash on Delivery (COD)
                            </div>
                            <div class="d-flex align-items-center mb-2 pl-5">
                                <input type="radio" name="paymentMethod" value="card" class="me-2"> Credit/Debit Card
                            </div>
                            <div class="d-flex align-items-center mb-2 pl-5">
                                <input type="radio" name="paymentMethod" value="razorpay" class="me-2"> Razorpay
                            </div>
                        </div>                    
                        <div id="card-details" style="display: none;">
                            <input type="text" class="form-control" name="cardNumber" placeholder="Card Number">
                            <input type="text" class="form-control" name="expiry" placeholder="MM/YY">
                            <input type="text" class="form-control" name="cvv" placeholder="CVV">
                        </div>                          
                    </form>






            <!-- Coupon Section -->
          
            <div class="row mt-5">
                <h6>Available Coupons</h6>
                <% if (typeof coupons !== 'undefined' && coupons.length>0) { %>
                    <%coupons.forEach(coupon=>{%>
                        <div class="d-inline-block bor7 p-3 shadow  float-left" style="width:200px" >
                            <strong>Code:</strong> <%= coupon.couponCode %><br>
                            <strong>Discount:</strong> <%= coupon.discountValue.toFixed(2)%>&emsp;
                            <strong>Expires On:</strong> <%= coupon.expireOn.toLocaleDateString("en-GB") %>
                           
                        </div>
                <% })}%>
           </div>   
            </div>
           
            <!-- Right Column -->
            <div class="col-lg-4">
                <!-- Coupon Section -->
                <div class=" bor7 p-3 shadow mb-2">
                    <h6>Coupon Code</h6>
                    <p class="text-muted small">Enter your coupon code if you have one</p>
                        <div class="input-group mb-4">
                            <input type="text" class="form-control" id="couponCode" name="couponCode" placeholder="Coupon Code">
                            <button  onclick="applyCoupon(event)" class="btn btn-primary" >APPLY</button>                    
                        </div>
                        <p id="errorMessage" style="color: red; size: 0.1em;"></p>
                </div>
                <div class="card">
                    <div class="card-header bg-transperant p-2 ">
                        <b><h5 class="text-center mb-0">Your Order</h5></b>
                    </div>
                    <div class="card-body">                  
                        <!-- Order Summary -->                        
                        <div class="mb-3">
                            
                            <%orderItems.forEach(item=>{%>	
                                <div class="d-flex justify-content-between mb-2">
                                    <div>
                                        <div><%=item.productName%></div>
                                        <small class="text-muted">× <%=item.quantity%></small>
                                    </div>
                                   
                                    <div><%=item.subtotal.toFixed(2)%></div>
                                </div>
                            <%})%>
                           
                        </div>

                        <hr>

                        <!-- Totals -->
                        <div class="mb-2">
                            <div class="d-flex justify-content-between">
                                <strong> Total</strong>                                
                                <h6 ><strong><%=totalPrice.toFixed(2)%></strong></h6>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <span>Coupon discount</span>                           
                                    <input type="number" id="discount" value="<%=discount.toFixed(2)%>"  style="width:100px; text-align: end; padding: 0; " disabled>                                 
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <span>Delivery Fee</span>
                               
                                <span id="deliveryPrice"><%=deliveryPrice.toFixed(2)%></span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <strong>Order Total</strong>     
                                     <%let orderTotal= totalPrice-discount-deliveryPrice%>                                           
                                    <h5 id="orderTotal"><strong><%=orderTotal.toFixed(2)%></strong></h5>                                
                            </div>
                        </div>

                        <button class="btn btn-primary w-100 mb-3" onclick="placeOrder(event)" >place An order</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

      //----------------apply coupon---------------------  
      async function applyCoupon(e) {  
        const couponCode = document.getElementById('couponCode').value;
        console.log(couponCode);
        const discountField = document.getElementById('discount');
        const totalElement = document.getElementById('orderTotal');  

        const orderTotal = parseFloat(totalElement.innerText); 

        try {
            const response = await fetch("/applyCoupon", {
                method: "POST",  
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ couponCode }) 
            });

            const result = await response.json();

            if (result.success) {
                alert("Coupon applied successfully!");
                // Update discount field and total price
                discountField.value = result.discountCoupon.discount.toFixed(2); 
                const newTotal = orderTotal - result.discountCoupon.discount;
                totalElement.innerText = newTotal.toFixed(2); // Update displayed total
                document.getElementById('couponCode').value="";
                errorMessage.innerHTML = ""; 
                                   
            } else {
                document.getElementById("errorMessage").innerHTML = result.message; 
                console.log(result.message);
            }
        } catch (error) {
            console.error("Error applying coupon:", error);
        }

        }


        //----------select payment method as card--------------------
       document.querySelectorAll('input[name="paymentMethod"]').forEach((input) => {
            input.addEventListener("change", function () {
                document.getElementById("card-details").style.display = 
                    this.value === "card" ? "block" : "none";
             });
        });

        //--------createOrder-------------------------------------
      async function  placeOrder(event){
        event.preventDefault(); 
        const  deliveryAddress=document.querySelector('input[type="radio"][name="address"]:checked').value;
        if (! deliveryAddress) {
             alert("Please select a delivery address.");
        return;
        }
        const  paymentMethod=document.querySelector('input[type="radio"][name="paymentMethod"]:checked').value;
        console.log(paymentMethod);
        if (! paymentMethod) {
             alert("Please select a payment Method.");
        return;
        }

        const orderData={
            addressId:deliveryAddress,  
            paymentMethod: paymentMethod,        
            discount:parseFloat(document.getElementById("discount").value) || 0,
            deliveryPrice:parseFloat(document.getElementById("deliveryPrice").innerText) || 0,
            orderPrice:parseFloat(document.getElementById("orderTotal").innerText),    
        };
        console.log(orderData);

        try {
       
            const response = await fetch("/createOrder", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
        body: JSON.stringify(orderData),
            });

        const result = await response.json();
        if (result.success) {
            alert("Order placed successfully!");
            console.log(result);
            window.location.href = `/orderSuccess?id=${result.orderId}`; // Redirect to order success page
        } else {
            alert(result.message || "Failed to place order.");
        }
    } catch (error) {
        console.error("Error placing order:", error);
        alert("Something went wrong. Please try again.");
    }

      }



    </script>
    <%-include("../partials/user/footer.ejs") -%>