	<%-include("../partials/user/header.ejs") -%>

	<!-- Slider -->
	<section class="section-slide"> 
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url(images/slide-01.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Healthy Eats for
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									<span class="text-warning">Paws and Beaks</span>
					
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="/shop" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(images/slide-02.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Healthy Eats for 
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									<span class="text-warning">Paws and Beaks</span>
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="/shop" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(images/slide-03.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Healthy Eats for 
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									<span class="text-warning">Paws and Beaks</span>
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="/shop" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
			
					<div class="col-md-6 col-xl-3 p-b-30 m-lr-auto">
					<!-- Block1 -->
						 
						<div class="block1 wrap-pic-w border-0">
							<img src="images/banner-01.jpg" alt="IMG-BANNER">
							
								<a href="/categorised?name=DOG" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
														

								<div class="block1-txt-child2 p-b-4 trans-05">
									<div class="block1-link stext-101 cl2 trans-09">
										Shop Now
									</div>
								</div>
							</a>
						</div>						
					</div>

					<div class="col-md-6 col-xl-3 p-b-30 m-lr-auto">
					<!-- Block1 -->
						<div class="block1 wrap-pic-w border-0">
							<img src="images/banner-02.jpg" alt="IMG-BANNER">							
								<a href="/categorised?name=CAT" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">						

								<div class="block1-txt-child2 p-b-4 trans-05">
									<div class="block1-link stext-101 cl2 trans-09">
										Shop Now
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-6 col-xl-3 p-b-30 m-lr-auto">
					<!-- Block1 -->
						<div class="block1 wrap-pic-w border-0">
							<img src="images/banner-03.jpg" alt="IMG-BANNER">							
								<a href="/categorised?name=BIRD" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						
								<div class="block1-txt-child2 p-b-4 trans-05">
									<div class="block1-link stext-101 cl2 trans-09">
										Shop Now
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-6 col-xl-3 p-b-10 m-lr-auto ">
						<!-- Block1 -->
						<div class="block1 wrap-pic-w border-0">
							<img src="images/banner-04.jpg" alt="IMG-BANNER">							
								<a href="/categorised?name=FISH" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
									
									<div class="block1-txt-child2 p-b-4  trans-05">
										<div class="block1-link stext-101 cl2  trans-09">
											Shop Now
										</div>
									</div>
								</a>
						</div>
					</div>
				
			</div>
		</div>
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" href="/">
						All Products
					</a>
					<%for(let i=0;i<category.length;i++){%>
						<a class="category-link stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" href="#" data-category='<%=category[i]._id%>'>
							<%=category[i].name%>
						</a>
					<%}%>
					
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					
						<div class="bor8 dis-flex p-l-15">
							<button id="btSearch" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
								<i class="zmdi zmdi-search"></i>
							</button>

							<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" id="search" name="search" placeholder="Search">
						</div>
					
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-10p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>
							<ul>
								<li class="p-b-6">
									<a href='' class="filter-link stext-106 trans-04" data-filter="new-arrivals">
										New Arrivals
									</a>
								</li>								
							</ul>
							
						</div>
						<div class="filter-col1 p-r-10 p-b-27">							
							<ul>			
								<li class="p-b-6">
									<a href='' class="filter-link stext-106 trans-04" data-filter="price-low-high">
										Price: Low to High
									</a>
								</li>
								<li class="p-b-6">
									<a href='' class="filter-link stext-106 trans-04" data-filter="price-high-low">
										Price: High to Low
									</a>
								</li>
							</ul>
							
						</div>
						<div class="filter-col1 p-r-10 p-b-27">						
							
							<ul>
								<li class="p-b-6">
									<a href='' class="filter-link stext-106 trans-04" data-filter="A-Z">
										Product: Aa-Zz
									</a>
								</li>
								<li class="p-b-6">
									<a href='' class="filter-link stext-106 trans-04" data-filter="Z-A">
										Product: Zz-Aa
									</a>
								</li>
							</ul>
						</div>							
					</div>
				</div>
			</div>
			<input type="hidden" id='activeCategory' name="activeCategory" value="">
			<div id='productGrid' class="row isotope-grid">
				<% products.forEach(product=>{%>
					<div  class="col-sm-4 col-md-3 col-lg-2 p-b-35 isotope-item mx-5" <%=product.category=".*"%>>
						<!-- Block2 -->
						<div class="block2">
							
							<div class="block2-pic hov-img0  product-card" >
								<%if(product.productOffer>0){%>
									<span class="offer-badge bg-danger   ">Offer</span>
								<%}%>								
								<img src="/uploads/re-image/<%=product.productImages[0]%>" alt="IMG-PRODUCT" class="align-items-end">								
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="/productDetails?id=<%=product._id%>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										<%=product.productName%>
									</a>
									<span class="stext-105 cl3">
										<%if(product.productOffer>0){%>
											<s><%=product.regularPrice.toFixed(2)%></s>
											<span class="text-danger"><%=product.salePrice.toFixed(2)%></span>											
											<span class="badge rounded-pill bg-danger  ">Offer</span>
										<%}else{%>
											<%=product.salePrice.toFixed(2)%>
										<%}%>	
									</span>								
								</div>
								<%if(locals.user){%>
									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" data-product-id="<%=product._id%>">
											<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
										</a>
									</div>
								<%}%>	
							</div>
						</div>
					</div> 
				<%})%>
			

				

				


			<!-- Load more -->
			<!-- <div class="flex-c-m flex-w w-full p-t-45"> 
				<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div> -->
			</div>
		</div>	
	</section>
	<script>
			document.addEventListener("DOMContentLoaded", () => {
				const activeProduct=document.getElementById('activeProduct');
				const filterlinks = document.querySelectorAll(".filter-link");
				const categoryLinks = document.querySelectorAll(".category-link");
				const productList = document.getElementById("product-list");
				const productGrid= document.getElementById('productGrid');
				const activeCategory=document.getElementById('activeCategory');
				const btSearch =document.getElementById('btSearch');
				const search=document.getElementById('search');


				function updateProductList(data){
					productGrid.innerHTML = "";
								// Render the new products dynamically
								data.forEach(product => {									
										var productCard = document.createElement('div');
										productCard.className = "col-sm-4 col-md-3 col-lg-2 p-b-35 isotope-item mx-5";
										// Set the innerHTML property with template literals
										productCard.innerHTML = `
											<div class="block2-pic hov-img0 product-card">
												${product.productOffer > 0 ? '<span class="offer-badge bg-danger">Offer</span>' : ''}
												<img src="/uploads/re-image/${product.productImages[0]}" alt="${product.productName}" />
											</div>
											<div class="block2-txt flex-w flex-t p-t-14">
												<a href="/productDetails?id=${product._id}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">${product.productName}</a>
												${product.productOffer > 0 
      											? `<s>${product.regularPrice.toFixed(2)} </s> <span class="text-danger">${product.salePrice.toFixed(2)}</span> <span class="badge rounded-pill bg-danger">Offer</span>` 
     											 : `${product.salePrice.toFixed(2)}`}
											</div>	`;									
										productGrid.appendChild(productCard);
								})	
				}

				categoryLinks.forEach(link => {
					link.addEventListener("click", function (e) {
						e.preventDefault(); // Prevent default link behavior
						const categoryId = this.getAttribute("data-category");
						activeCategory.value=categoryId;
						//---- remove and add active link
						categoryLinks.forEach(l => l.classList.remove('how-active1'));
						this.classList.add('how-active1')
						
						// Send an AJAX request to fetch products for the selected category
						fetch(`/?categoryId=${categoryId}`,{
							method: 'GET',
							headers: {
								'Accept': 'application/json', // This tells the server that we expect JSON in the response
							}
						})
						.then(response =>response.json())
						.then(data => {
							updateProductList(data)
						})
						.catch(error => console.error("Error fetching products:", error));				

					})
				})
				
				//------filter--------
				filterlinks.forEach(link => {
					link.addEventListener("click", function (e) {					
						e.preventDefault(); // Prevent default link behavior
						const filter = this.getAttribute("data-filter");
						const filterurl=`/shop/filter?categoryId=${activeCategory.value}&filter=${filter}`;
						console.log(filterurl);
						fetch(filterurl)
						.then((response)=>response.json())
						.then((data)=>{
							updateProductList(data)
						})
						.catch(error => console.error("Error fetching products:", error));	
				});	

				
				search.addEventListener('input',function(e){
					searchInput=search.value;
					fetch(`/search?search=${searchInput}`)
					.then(response=>response.json())
					.then(data=>{
						updateProductList(data)
					}).catch(error=>console.error("Error fetching products:", error));
				
				})

			});	
		});	
	</script>

	<!-- Footer -->
	<%- include ('../partials/user/footer') -%>