<%-include("../partials/user/header.ejs") -%>


	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb m-t-5 flex-w p-l-25 p-r-15 p-t-80 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	<form class="bg0 p-t-60 p-b-85" action="/checkOut" method="get">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-8 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<% if (typeof cart !== 'undefined' && cart.items && cart.items.length > 0) { %>						
							<div class="wrap-table-shopping-cart ">
								<table class="table-shopping-cart">
									<tr class="table_head">
										<th class="column-0 text-center">Sno:</th>
										<th class="column-1">Product</th>
										<th class="column-2"></th>
										<th class="column-3 text-center">Price</th>
										<th class="column-4 text-center">Quantity</th>
										<th class="column-5 text-center">Total</th>
										<th class="column-6"></th>
									</tr>
								
									
									<%let i=1;%>
									<%cart.items.forEach(item=>{%>									
										<tr class="table_row">
											<td class="column-0 text-center"><%=i++%> 
												<input type="hidden" name="productId" id="productId" value="<%=item.productId._id %>">
											</td>
											
											<td class="column-1">
												<div class="how-itemcart1">
													<img src="uploads/re-image/<%=item.productId.productImages[0]%>" alt="IMG">
												</div>
											</td>
										
											<td class="column-2"><%=item.productId.productName%></td>
											<td class="column-3 text-center"><span id="itemPrice-<%=item.productId._id%>"><%=item.productId.regularPrice%></span></td>
											<td class="column-4">
												<div class="wrap-num-product flex-w m-l-auto m-r-0">
													<div onclick="decreaseOne(`<%= item.productId._id %>`,event)" class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
														<i  class="fs-16 zmdi zmdi-minus"></i>
														
													</div>
													<input  id='quantity-<%=item.productId._id%>'  class="mtext-104 cl3 txt-center num-product"  type="number" name="num-product1" value='<%=item.quantity%>' min="1">

													<div onclick="increaseOne(`<%= item.productId._id %>`,event)"  class=" btn-num-product-up  cl8 hov-btn3 trans-04 flex-c-m">
														<i class="fs-16 zmdi zmdi-plus"></i>
													</div>													
												</div>											

											</td>
											
											<%let itemTotal=item.productId.regularPrice *item.quantity;%>
										<td class="column-5"><span id="itemTotal-<%=item.productId._id%>">$<%=itemTotal.toFixed(2)%></span></td>
									
										<td class="column-6"> <a href="/shoppingCart/deleteItem/<%=item.productId._id%>" onclick="return confirm('Do you want to remove this from cart?')"><i class="fs-20 text-danger zmdi zmdi-delete"></i></a>
										</td>
										
										</tr>
									<%})%>
									
								</table>
							</div>
							
						
							<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
								<div class="flex-w flex-m m-r-20 m-tb-5">			
									<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13  p-lr-15 trans-04 pointer m-tb-5">
										<a href="/shop">Continue Shopping</a>
									</div>
								</div>

								
							</div>
							
						<%}else{%>
							<div class="text-center p-t-40 p-b-40">
							<h4>Your cart is empty 🛒</h4>
							<a href="/shop" class="btn btn-primary mt-3">Continue Shopping</a>
							</div>	
						<%}%>
					</div>
				</div>
			
				<div class="col-sm-10 col-lg-7 col-xl-4 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-5">
							Cart Totals
						</h4>
						<hr>
						<div class=" bor12 p-b-13">
							<div class="size-308">
								<% if (typeof cart !== 'undefined' && cart.items && cart.items.length > 0) { %>	
									<span class="stext-110 cl2 m-b-5">
										Subtotal: <span class="float-right">$ <%=cart.totalPrice%></span>
									</span>
								<%}%>	
							</div>


							<div class="size-308">
								<span class="mtext-100 cl2 m-b-5">
									Discount: <span class="float-right">$ 0</span>
								</span>
							</div>

														
						</div>
						
						<div class="p-t-27 p-b-33">
							<div class="size-308">
								<% if (typeof cart !== 'undefined' && cart.items && cart.items.length > 0) { %>	
									<span class="mtext-101 cl2 m-b-15">
										Total: <span class="float-right">$ <%=cart.totalPrice%></span>
									</span>
								<%}%>	
							</div>
							

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									
								</span>
							</div>
						</div>

						<button  type="submit" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Proceed to Checkout
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
		

<script>
	  function decreaseOne(productId) {
        console.log("removeOne called with:", productId);
    }
	function increaseOne(productId){ 		
			 console.log("addOne called with:", productId);
	}
document.addEventListener("DOMContentLoaded", function() {   
	const productId=document.getElementById('productId').value
	window.decreaseOne=function (productId,event){ 
		
		event.preventDefault();
		event.stopImmediatePropagation();

		console.log('insode fucntion');
		const Qty=document.getElementById(`quantity-${productId}`);
		let currentQty = parseInt(Qty.value);
		if(currentQty<=1){			
			Qty.value=1;
			return ;
		}
			currentQty-=1;
			Qty.value=currentQty;
			quantity=1;
		

		console.log(quantity,productId);
		fetch(`/shoppingCart/removeOne/${productId}`, {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json'
			},
			body:JSON.stringify({ quantity }),
		})
		.then(response => response.json())
		.then(data => {
			if (data.success) {            
				console.log('Item removed successfully',data.message);          
				location.reload(); // Reloads the page to reflect changes
			} else {           
				console.error('Error removing item:' );
				alert(data.message); 
			}
		})
		.catch(error => {
			console.error('Error:', error);

		});
	}



	window.increaseOne=function (productId,event){ 
		
		event.preventDefault();
		event.stopImmediatePropagation();

		console.log('insode fucntion');
		const Qty=document.getElementById(`quantity-${productId}`);
		let currentQty = parseInt(Qty.value);
		if(currentQty>=3){			
			Qty.value=3;
			return;
		}
			currentQty+=1;
			Qty.value=currentQty;
			quantity=1;
		

		console.log(quantity,productId);
		fetch(`/shoppingCart/addOne/${productId}`, {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json'
			},
			body:JSON.stringify({ quantity }),
		})
		.then(response => response.json())
		.then(data => {
			if (data.success) {            
				console.log('Item added successfully',data.message);          
				location.reload(); // Reloads the page to reflect changes
			} else {           
				console.error('Error adding item:' );
			}
		})
		.catch(error => {
			console.error('Error:', error);

		});
	}


});


</script>	
	
		
<!-- Footer -->
<%- include ('../partials/user/footer') -%>